################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and                                                                #
# then run 'docker-compose run elasticsearch-consumer pip_freeze'              #
#                                                                              #
################################################################################

aet.consumer >= 3.9.2
aether-python
confluent_kafka >= 1.5.0
deepmerge
eha_jsonpath
responses

# https://github.com/elastic/elasticsearch-py/issues/1666
# https://github.com/elastic/elasticsearch-py/issues/1667
elasticsearch[requests] < 7.14

# Test libraries
flake8
flake8-quotes
pytest
pytest-cov
pytest-runner
