#################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                              					#
# Update me and then run 'docker-compose run myconsumer pip_freeze'                             #
#                                                                              					#
#################################################################################################

aet.consumer >= 3.8.1
aether-python
deepmerge
eha_jsonpath
elasticsearch # >=5.0.0,<6.0.0
flake8
flake8-quotes
pytest
pytest-cov
pytest-runner
requests
responses
