#########################################################################################
#                                                                              		    #
#                              Frozen requirements                             		    #
#                                                                              		    #
#                               DO NOT CHANGE !!!                              		    #
#                                                                              		    #
# To update this first update 'primary-requirements.txt'                       		    #
# then run 'docker-compose run myconsumer pip_freeze'                                   #
#                                                                              		    #
#########################################################################################
aet.consumer==0.9.1
atomicwrites==1.1.5
attrs==18.1.0
blessings==1.7
decorator==4.3.0
elasticsearch==6.3.0
flake8==3.5.0
flake8-quotes==1.0.0
jsonpath-ng==1.4.3
kafka-python==1.4.5
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
pbr==4.0.3
pluggy==0.6.0
ply==3.11
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.6.3
pytest-runner==4.2
requests==2.19.1
six==1.11.0
spavro==1.1.17
urllib3==1.23
