#########################################################################################
#                                                                              		    #
#                              Frozen requirements                             		    #
#                                                                              		    #
#                               DO NOT CHANGE !!!                              		    #
#                                                                              		    #
# To update this first update 'primary-requirements.txt'                       		    #
# then run 'docker-compose run myconsumer pip_freeze'                                   #
#                                                                              		    #
#########################################################################################
aet.consumer==1.0.0
atomicwrites==1.1.5
attrs==18.1.0
blessings==1.7
certifi==2019.3.9
chardet==3.0.4
decorator==4.3.0
elasticsearch==7.0.2
entrypoints==0.3
flake8==3.7.8
flake8-quotes==2.0.1
idna==2.7
importlib-metadata==0.17
jsonpath-ng==1.4.3
kafka-python==1.4.6
mccabe==0.6.1
mock==3.0.5
more-itertools==4.1.0
packaging==19.0
pbr==4.0.3
pluggy==0.12.0
ply==3.11
py==1.5.3
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.0
pytest==5.0.1
pytest-runner==5.1
requests==2.22.0
responses==0.10.6
six==1.11.0
spavro==1.1.17
urllib3==1.23
wcwidth==0.1.7
zipp==0.5.1
